/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/* header - heart icon */
@keyframes heartbeat {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}
#heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
}

#heart::before,
#heart::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-image: url("../img/heart-with-electrocardiogram.png"); 
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}




/*
 * Base structure
 */
html * {
      font-family: 'Josefin Sans', sans-serif;
      color: #44464a;
}

.main-box h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: darkred;
}

body {
  background-image: url("../img/marcelo-leal-k7ll1hpdhFA-unsplash.jpg");
  background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-box {
  max-width: 700px;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  color: black;
  border-radius: 1%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* header */

/* main */

/* .startPage::before,
.startPage::after {
  content: "";
  clear: both;
  display: table;

} */

 .startPage.hide {
  display: none;
 }

 /* questions */

.question h4 {
  font-size: 25px;
  color: darkred;
  padding: 20px;
} 

.options {
  color: white;
}

.options .form-check{
  text-align: left;
  background-color: #d6d6d6;
  padding: 15px;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  color: #000000;
}

.options div:hover {
  background-color: darkgray;
}

.options .answered {
  pointer-events: none;
}

/* results */
.results.hide, .quiz.hide {
  display: none;
}



/* footer */
/* .container{
  margin: 70px, 70px;

} */