/* base structure */

html * {
    font-family: 'Josefin Sans', sans-serif;
    color: #44464a;
}

/* body */

body {
    background-image: url("../img/marcelo-leal-k7ll1hpdhFA-unsplash.jpg");
    background-color: #cccccc;
    width: auto;
    height: auto;
    background-repeat: initial;
    background-size: cover;
    height: 500px;
}

/* header - moving heart icon */

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

#heart {
    position: relative;
    width: 80px;
    height: 70px;
    animation: heartbeat 1s infinite;
}

#heart::before,
#heart::after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background-image: url("../img/heart-with-electrocardiogram.png");
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}



/* main */

.main-box {
    max-width: 800px;
    height: auto;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    color: black;
    border-radius: 1%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
}

.main-box h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    color: #8B0000;
}


.btn.hide {
    display: none;
}

.startPage.hide {
    display: none;
}

.startPage {
    width: auto;
}

/* quiz (question and options) */

.quiz.hide {
    display: none;
}

.question h4 {
    font-size: 25px;
    color: #8B0000;
    padding: 20px;
}

.options {
    color: white;
}

.options .form-text {
    text-align: left;
    background-color: #d6d6d6;
    padding: 15px;
    font-size: 17px;
    line-height: 20px;
    border-radius: 8px;
    color: #000000;
}

.options div:hover {
    background-color: darkgray;
}

.options .answered {
    pointer-events: none;
}

/* results */
.results.hide {
    display: none;
}

table {
    text-align: left;
    background-color: lightgray;
    border-radius: 2%;
}

td {
  border: 1px solid dimgray;
}

/* footer */
footer {
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 13px;
    position: absolute;
    z-index: -1;
}

footer a:hover {
    color:  #D3D3D3;
}

